<div class="footer columns has-background-grey-darker ">
  <div class="column is-two-thirds">
    <h4 class="title is-4 has-text-white-ter">Contactenme:</h4>
    
    <form action="https://formspree.io/marco.at720@gmail.com" method="POST">
      <div class="field">
        <label class="label is-small has-text-white-ter" for="name">Nombre</label>
        <div class="control">
          <input class="input is-small" type="text" name="name">
        </div>
      </div>
      <div class="field">
        <label class="label is-small has-text-white-ter" for="email">Correo</label>
        <div class="control ">
          <input class="input is-small" type="email" name="email">
        </div>  
      </div>
      <div class="field">
        <label class="label is-small has-text-white-ter" for="title">Asunto</label>
        <div class="control">
          <input class="input is-small" type="text" name="title">
        </div>  
      </div>
      <div class="field">
        <div class="control">
          <textarea class="textarea is-small" name="message" id="" cols="30" rows="10" placeholder="Mensaje..."></textarea>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-link" type="submit">Enviar</button>
        </div>
      </div>
    </form>
    <hr>
    <div class="buttons" *ngIf="socialLinks">
      <a class="button is-info" [href]="link.direction" target="_blank" *ngFor="let link of socialLinks">{{link.name}}</a>
    </div>
  </div>
</div>