<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-four-fifths">
        <h4 class="title has-text-centered">Acerca de mi</h4>
        <p class="content has-text-justified space text-normal">
            Me llamo Marco nací en el 96 y desde joven me han gustado los temas relacionados con la informática.
            También me gustan los videojuegos por ello antes de ingresar a la universidad, mi primera incursión en la programación fue con el objetivo de fue crear un sencillo juego de plataformas usando el lenguaje C++. <br/>
            A finales de 2013 ingresé a la universidad y en donde comencé a progrmar con Pascal.
            Posteriormente en la universidad aprendí HTML5, CSS, PHP, JavaScript y Java.
            Durante ese mismo periodo me enseñaron a usar el sistema gestor de base de datos PostgreSQL y SQL para realizar las consultas.
            De manera autodidacta o por medio de cursos he aprendido a manejar framewors como Angular y laravel
            En general me gusta el mundo de la programación y adquirir nuevos conocimientos día a día.
        </p>
      </div>
    </div>
  </div>
</section>