<div class="container">
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-centered">Acerca de mi</h4>
      <p class="content has-text-justified">
          Me llamo Marco nací en el 96 y desde joven me han gustado los temas relacionados con la informática.
          También me gustan los videojuegos por ello antes de ingresar a la universidad, mi primera incursión en la programación fue con el objetivo de fue crear un sencillo juego de plataformas usando el lenguaje C++. <br/>
          A finales de 2013 ingresé a la universidad y con el objetivo de adquirir las nociones básicas de programación me enseñaron a programar en Pascal.
          Posteriormente en la universidad aprendí HTML5, CSS, PHP, JavaScript y Java.
          Durante ese mismo periodo me enseñaron a usar el sistema gestor de base de datos PostgreSQL y SQL para realizar las consultas.
          En general me gusta el mundo de la programación y adquirir nuevos conocimientos día a día.
      </p>
    </div>
  </div>
</div>