<div class="container">
  <div class="columns">
    <div class="column">
      <h4 class="title is-4 has-text-centered">Hacerca de mi</h4>
      <p class="content has-text-justified">
          Me llamo Marco tengo 21 años y desde joven me gustan los temas relacionados con la informática.
          Mi primera incurción en la programación fue con el lenguaje C++ eso fue antes de ingresar a la universidad y mi objetivo fue crear un sencillo juego de plataformas. <br/>
          A finales de 2013 ingresé a la universidad, ya en el año 2014 comencé el trayecto 1 (un año dividido en tres trimestres) y
          con el objetivo de adquirir las nociones básicas de programación me enseñaron Pascal.
          Posteriormente me enseñaron durante dos trimestres HTML5, CSS, PHP, JavaScript y en el tercero Java.
          Durante ese mismo periodo me enseñaron a usar el sistema gestor de base de datos PostgreSQL y SQL para realizar las consultas.
      </p>
    </div>
  </div>
</div>