<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <div class="navbar-item" >
        <a routerLink=".."><p class="title is-4" >Marco A.T.</p></a>
      </div>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="curriculum">Curriculum</a>
        <a class="navbar-item" routerLink="portfolio">Portafolio</a>
        <a class="navbar-item has-text-info has-text-weight-bold" routerLink="/contacto">Contactar</a>
      </div>
    </div>
</nav>
