<app-head></app-head>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered buttons">
        <a class="button is-link" routerLink="curriculum"> Curriculum</a>
        <a class="button is-outlined is-link" routerLink="portfolio"> Portafolio</a>
      </div>
    </div>
  </div>
</section>
<app-about-me></app-about-me>

<section class="section">
  <div class="container">
    <div class="columns is-centered is-multiline">
      <div class="column has-text-centered is-full">
        <h4 class="title">Estos son algunos de mis proyectos.</h4>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/graficos.gif" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Graficos en tiempo real con Angular 6 y Socket.io</p>
                <p class="subtitle is-6"><a href="https://github.com/Ackrom/Graficos-en-tiempo-real-con-Angular-6-y-Socket.io">@Ackrom</a></p>
              </div>
            </div>

            <div class="content">
              Práctica que emula una aplicación que usa gráficos actualizables en tiempo real.
              <a href="https://angular.io/">#Angular6 </a> <a href="https://socket.io/">#Socket.io </a> <a href="https://plot.ly/javascript/">#Plotly.js </a>
              <br>
              <time datetime="2018-12-3">01:57 PM - 3 Dic. 2018</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/bm.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Busca minas en Angular 6</p>
                <p class="subtitle is-6"><a href="https://github.com/Ackrom/Buscaminas-con-Angular-6">@Ackrom</a></p>
              </div>
            </div>
            
            <div class="content">
              El clásico juego del <a href="https://es.wikipedia.org/wiki/Buscaminas">buscaminas</a> usando Angular 6.
              <a href="https://angular.io/">#Angular6 </a>
              <br>
              <time datetime="2018-11-25">03:29 PM - 25 Nov. 2018</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/PASCAL.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Trabajo práctico (TP) en PASCAL</p>
                <p class="subtitle is-6"><a href="https://github.com/Ackrom/TP-Almacen-en-PASCAL">@Ackrom</a></p>
              </div>
            </div>

            <div class="content">
              Uno de mis primeros trabajos prácticos en el lenguaje deprogramación PASCAL.
              <a href="https://es.wikipedia.org/wiki/Pascal_(lenguaje_de_programaci%C3%B3n)">#PASCAL</a>
              <br>
              <time datetime="2014">2014</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/SisMVC.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Sistema PHP-MVC</p>
                <p class="subtitle is-6"><a href="https://github.com/Ackrom/Sistema-simple-con-MVC">@Ackrom</a></p>
              </div>
            </div>

            <div class="content">
              El sistema nace como un trabajo para la universidad, lo elaboré junto con un grupo de compañeros en el año 2016.
              <a href="http://php.net/">#PHP </a> <a href="https://es.wikipedia.org/wiki/Modelo%E2%80%93vista%E2%80%93controlador">#MVC </a> <a href="https://html2pdf.fr/es/home">#HTML2PDF </a><a href="https://www.chartjs.org/">#ChartJS </a>
              <a href="https://datatables.net/">#DataTablesJS </a> <a href="https://jquery.com/">#JQuery </a> <a href="https://getbootstrap.com/">#Bootstrap3 </a>
              <br>
              <time datetime="2016">2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-full has-text-centered buttons">
        <a class="button is-link" routerLink="portfolio">Mostrar todos</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h4 class="title has-text-centered">Trabajemos juntos</h4>
    <div class="column is-full has-text-centered buttons">
      <!-- <a class="button is-info" [href]="link.direction" target="_blank" *ngFor="let link of socialLinks">{{link.name}}</a> -->
      <a class="button is-link" href="https://www.linkedin.com/in/marco-ignacio-alvarez-tallada-a99747140/"
        target="_blank">
        <span class="icon">
          <fa-icon [icon]="link"></fa-icon>
        </span>
        <span>
          Linkedin
        </span>
      </a>
      <a class="button is-link" href="https://www.facebook.com/profile.php?id=100008086350253" target="_blank">
        <span class="icon">
          <fa-icon [icon]="face"></fa-icon>
        </span>
        <span>
          Facebook
        </span>
      </a>
      <a class="button is-info" href="https://twitter.com/Marco_AT_" target="_blank">
        <span class="icon">
          <fa-icon [icon]="twitter"></fa-icon>
        </span>
        <span>
          Twitter
        </span>
      </a>
      <a class="button" href="https://github.com/Ackrom" target="_blank">
        <span class="icon">
            <fa-icon [icon]="github"></fa-icon>
        </span>
        <span>GitHub</span>
      </a>
      <a class="button is-success"  href="https://www.hackerrank.com/marco_at720" target="_blank">
          <span class="icon is-small">
              <fa-icon [icon]="hr"></fa-icon>
          </span>
          <span>HackerRank</span>
      </a>
      <a class="button is-link" routerLink="contacto">Envíame un email</a>
    </div>

  </div>
</section>

<footer class="footer  has-background-grey-darker has-text-light">
  <div class="content has-text-centered">
    <p>
      Creado por marco.at720@gmail.com. Usando Angular 6, Bulma y Firebase.

    </p>
  </div>
</footer>