<app-head></app-head>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half has-text-centered buttons">
        <a class="button is-link" routerLink="curriculum"> Curriculum</a>
        <a class="button is-outlined is-link" routerLink="portfolio"> Portafolio</a>
      </div>
    </div>
  </div>
</section>
<app-about-me></app-about-me>

<section class="secton">
  <div class="container">
    <div class="columns is-centered is-multiline">
      <div class="column has-text-centered is-full">
        <h4 class="title">Estos son algunos de mis proyectos.</h4>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/graficos.gif" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Graficos en tiempo real con Angular 6 y Socket.io</p>
                <p class="subtitle is-6">@Ackrom</p>
              </div>
            </div>

            <div class="content">
              Práctica que emula una aplicación que usa gráficos actualizables en tiempo real.
              <a href="#">#Angular6 </a> <a href="#">#Socket.io </a> <a href="#">#Plotly.js </a>
              <br>
              <time datetime="2018-12-3">01:57 PM - 3 Dic. 2018</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/bm.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Busca minas en Angular 6</p>
                <p class="subtitle is-6">@Ackrom</p>
              </div>
            </div>
            
            <div class="content">
              El clásico juego del <a href="https://es.wikipedia.org/wiki/Buscaminas">buscaminas</a> usando Angular 6.
              <a href="#">#Angular6</a>
              <br>
              <time datetime="2018-11-25">03:29 PM - 25 Nov. 2018</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/PASCAL.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Trabajo práctico (TP) en PASCAL</p>
                <p class="subtitle is-6">@Ackrom</p>
              </div>
            </div>

            <div class="content">
              Uno de mis primeros trabajos prácticos en el lenguaje deprogramación PASCAL.
              <a href="#">#PASCAL</a>
              <br>
              <time datetime="2014">2014</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-two-fifths">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="assets/SisMVC.PNG" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="assets/GitHub.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Sistema PHP-MVC</p>
                <p class="subtitle is-6">@Ackrom</p>
              </div>
            </div>

            <div class="content">
              El sistema nace como un trabajo para la universidad, lo elaboré junto con un grupo de compañeros en el año 2016.
              <a href="#">#PHP </a> <a href="#">#MVC </a> <a href="#">#HTMLToPDF </a><a href="#">#ChartJS </a>
              <a href="#">#DataTablesJS </a> <a href="#">#JQuery </a> <a href="#">#Bootstrap3 </a>
              <br>
              <time datetime="2016">2016</time>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-full has-text-centered buttons">
        <a class="button is-link" routerLink="portfolio">Mostrar todos</a>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h4 class="title has-text-centered">Trabajemos juntos</h4>
    <div class="column is-full has-text-centered buttons">
      <a class="button is-link" routerLink="contacto">Puntos de contacto</a>
    </div>

  </div>
</section>

<footer class="footer  has-background-grey-darker has-text-light">
  <div class="content has-text-centered">
    <p>
      Creado por marco.at720@gmail.com. Usando Angular 6, Bulma y Firebase.

    </p>
  </div>
</footer>