<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Curriculum
        </h1>
        <h2 class="subtitle">
            Estudios, tecnologías y herramientas
        </h2>
        </div>
    </div>
</section>
<br>
<div class="container">
    <div>
        <h1 class="title is-3 is-inline-block">Curriculum </h1>
        <a class="button is-text" [href]="curriculumLink">Descargar versión PDF</a>
    </div>
    
    <app-resume></app-resume>
    
    <app-study></app-study>
    <app-tecnology-and-tools></app-tecnology-and-tools>
    <hr>
</div>