<section class="hero is-medium is-dark is-bold">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Portafolio
        </h1>
        <h2 class="subtitle">
            Proyectos y trabajos
        </h2>
        </div>
    </div>
</section>
<br>
<div class="container space">
    <p class="buttons">
        <a class="button" href="https://github.com/Ackrom" target="_blank">
            <span class="icon">
                <fa-icon [icon]="github"></fa-icon>
            </span>
            <span>GitHub</span>
        </a>
        <a class="button is-success"  href="https://www.hackerrank.com/marco_at720" target="_blank">
            <span class="icon is-small">
                <fa-icon [icon]="hr"></fa-icon>
            </span>
            <span>HackerRank</span>
        </a>
    </p>
    <app-code-projects></app-code-projects>
</div>