<div class="columns" >
  <div class="column"  *ngIf="studies">
    <h4 class="title is-4">Estudios</h4>
    <div class="tabs is-small is-centered is-toggle is-toggle-rounded">
      <ul>
        <li class="is-active">
          <a>
            <span class="icon is-small"><fa-icon icon="list"></fa-icon></span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small"><fa-icon icon="th-large"></fa-icon></span>
          </a>
        </li>
      </ul>
    </div>

    <!-- <div class="tile is-ancestor">
      <div class="tile is-child  is-4  box" *ngFor="let study of studies">
        <h5 class="title is-5">{{study.name}}</h5>
        <h5 class="title is-5">Institución que lo acredita:</h5>
        <h5 class="title is-5">{{study.institution}}</h5>
        <span class="has-text-weight-semibold">Enlaces: &nbsp;</span> 
        <ng-container *ngIf="study.links.length > 0">  
          <a [href]="link.direction" target="_blank" *ngFor="let link of study.links">{{link.name}}</a>&nbsp;
        </ng-container>
      </div>
    </div> -->
    <div class="box" *ngFor="let study of studies">
      <h5 class="title is-5">{{study.name}}</h5>
      <h5 class="title is-5">Institución que lo acredita:</h5>
      <h5 class="title is-5">{{study.institution}}</h5>
      <span class="has-text-weight-semibold">Enlaces: &nbsp;</span> 
      <ng-container *ngIf="study.links.length > 0">  
        <a [href]="link.direction" target="_blank" *ngFor="let link of study.links">{{link.name}}</a>&nbsp;
      </ng-container>
    </div>
    
  </div>
</div>