<div class="columns" >
  <div class="column"  *ngIf="studies">
    <h4 class="title is-4">Estudios</h4>
    <div class="tabs is-small is-centered is-toggle is-toggle-rounded">
      <ul>
        <li [ngClass]="active?'is-active':''" (click)="changeTab()">
          <a>
            <span class="icon is-small"><fa-icon icon="list"></fa-icon></span>
          </a>
        </li>
        <li [ngClass]="!active?'is-active':''" (click)="changeTab()">
          <a>
            <span class="icon is-small"><fa-icon icon="th-large"></fa-icon></span>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="active">
      <div class="box" *ngFor="let study of studies">
        <h5 class="title is-5">{{study.name}}</h5>
        <h5 class="title is-5">Institución que lo acredita:</h5>
        <h5 class="title is-5">{{study.institution}}</h5>
        <span class="has-text-weight-semibold">Enlaces: &nbsp;</span> 
        <ng-container *ngIf="study.links.length > 0">  
          <a [href]="link.direction" target="_blank" *ngFor="let link of study.links">{{link.name}}</a>&nbsp;
        </ng-container>
      </div>
    </div>
    <div class="tile is-ancestor" *ngIf="columns && !active">
      <div class="tile is-parent is-vertical is-4" >
        <div class="tile is-child  is-12  box" *ngFor="let study of columns[2]">
          <h5 class="title is-5">{{study.name}}</h5>
          <h5 class="title is-5">Institución que lo acredita:</h5>
          <h5 class="title is-5">{{study.institution}}</h5>
          <span class="has-text-weight-semibold">Enlaces: &nbsp;</span> 
          <ng-container *ngIf="study.links.length > 0">  
            <a [href]="link.direction" target="_blank" *ngFor="let link of study.links">{{link.name}}</a>&nbsp;
          </ng-container>
        </div>
      </div>

      <div class="tile is-parent is-vertical is-4" >
          <div class="tile is-child  is-12  box" *ngFor="let study of columns[1]">
            <h5 class="title is-5">{{study.name}}</h5>
            <h5 class="title is-5">Institución que lo acredita:</h5>
            <h5 class="title is-5">{{study.institution}}</h5>
            <span class="has-text-weight-semibold">Enlaces: &nbsp;</span> 
            <ng-container *ngIf="study.links.length > 0">  
              <a [href]="link.direction" target="_blank" *ngFor="let link of study.links">{{link.name}}</a>&nbsp;
            </ng-container>
          </div>
        </div>

        <div class="tile is-parent is-vertical is-4" >
            <div class="tile is-child  is-12  box" *ngFor="let study of columns[0]">
              <h5 class="title is-5">{{study.name}}</h5>
              <h5 class="title is-5">Institución que lo acredita:</h5>
              <h5 class="title is-5">{{study.institution}}</h5>
              <span class="has-text-weight-semibold">Enlaces: &nbsp;</span> 
              <ng-container *ngIf="study.links.length > 0">  
                <a [href]="link.direction" target="_blank" *ngFor="let link of study.links">{{link.name}}</a>&nbsp;
              </ng-container>
            </div>
          </div>


    </div>
    
    
  </div>
</div>